<h2>book your ticket here</h2>
<form action="save">
 <div style="margin-left:300px;">
    <table>
      <tr><td>First name :<td><input type=text placeholder="Enter First name " formControlName="First name" required name=t1 size=50></tr>

     <tr><td>Last name:<td><input type="password" placeholder="Enter Last name" formControlName="Last name"  required name=t1 size=50></tr> 
     <tr><td>Aadhar no:<td><input type="password" placeholder="Enter Aadhar no" formControlName="Aadhar no"  required name=t1 size=50></tr> 
     <tr><td>DOB:<td><input type="password" placeholder="Enter date of birth" formControlName="DOB"  required name=t1 size=50></tr> 
        
    </table>
  </div>


  <button class="btn btn-danger">submit</button>
  <button class="btn btn-success" input type="reset">reset</button><br> 

</form>