<div id="sa">
    <h2>Forgot Password</h2>
    <form [formGroup]="Forgotpw" (ngSubmit)="Forgot()" action="post">
        <!-- <label>EmailId</label>
        <input type="email" formControlName="emailid"/><br/>
        <label>Password</label>
        <input type="password" formControlName="password"/><br/> -->
        <div style="margin-left:350px;">
            <table>
                <tr><td>Registered User Id :</td><td><input type=text placeholder="Enter User name" formControlName="emailid" required  size=180></td></tr>
    
               <tr><td>New Password:</td>
                <!-- <label for="psw">Password</label> -->
               <td> <input type="password" placeholder="Enter new Password" formControlName="password" size=180  title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required></td></tr>
               <tr><td>Confirm Password:</td>
               <td><input type="password" placeholder="Confirm Password" formControlName="confirmpassword" size=180  title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required></td></tr>
                <!-- <input type="password"  placeholder="Enter Password" pattern=".{8,16}" title="8 or more Character" size=30 pattern="[!@#$%^&*][a-z][A-Z][0-9]" formControlName="password"  required name=t1 size=150 ></tr>   -->
            </table>
        </div>
        
        <!-- <input type="submit" value="Save"/>
        <input type="reset" value="reset"/> -->
        <button class="btn btn-danger">submit</button>
        <button class="btn btn-success" input type="reset">reset</button>

    </form>
    <br/>
    <span style="color:azure">{{msg}}</span><br/>
    <a class="btn btn-primary" routerLink="/login">login</a>
</div>