<!-- <!DOCTYPE html>
<html lang="en">
  <div>
    <h2>Welcome to home page {{user}}</h2>
    <br/>
  
</div> 
<head>
 

  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-brand">
   <div class="container-fluid"> -->
    <!-- <div class="navbar-header">
      <a class="navbar-brand" href="#">Airlines</a>
    </div> -->
    <!--<ul class="nav navbar-nav">
      <li class="active"><a class="active" >Back to Home</a></li>
       <li><a href="#">Book Ticket</a></li> -->
      <!-- <li><a href="#">Cancel Ticket</a></li>
      <li><a class="active" routerLink="/Bookticket">Bookticket</a></li>
      <li><a class="active" routerLink="/pnrstatus">PNRstatus</a></li>
      <li><a class="active" routerLink="/cancelticket">Cancelticket</a></li>
      <li><a class="active" routerLink="/Feedback">Feedback</a></li>
      <li><a class="active" routerLink="/contactus">contact us</a></li>
    </ul>
   </div> -->

  
<!-- <div class="container">
  <h3>Inverted Navbar</h3>
  <p>An inverted navbar is black instead of gray.</p>
</div> -->

<!--</body>
<input type="button" value="logout" (click)="logout()"/>
</html> -->


 <!DOCTYPE html>
 <html>
 <head>
 <style>
 body {
   background-image: url('assets/avation.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed; 
   background-size: 100% 100%; 
   background-size: cover; 
 }
 </style>
 </head>
 <body>
    <div>
        <h2>Welcome to home page {{user}}</h2>
    
    
        <br/>
        
    
        <input type="button" value="logout" (click)="logout()"/>
    </div> 

 </body>
 </html> 
<!-- <div>
    <h2>Welcome to home page user {{user}}</h2>


    <br/>
    

    <input type="button" value="logout" (click)="logout()"/>
</div>  -->