<!DOCTYPE html>
 <html>
 <head>
 <style>
 body {
   background-image: url('assets/avation.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed; 
   background-size: 100% 100%; 
   background-size: cover; 
 }
 </style>
 </head>
 <body>
    <div>
        <h2> Welcome to home page {{user}}</h2>
    
    
        <br/>
        
    
        <input type="button" value="logout" (click)="logout()"/>
    </div> 

 </body>
 </html>


<!-- <div>
    <h2> Welcome to home page {{user}}</h2>




    <input type="button" value="logout" (click)="logout()"/>
</div> -->
